# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
backend/venv/

# dotenv
.env

# Alembic cache
alembic/versions/*.pyc
alembic/versions/__pycache__/

# Logs
*.log

# IDEs & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git
.git
.gitignore